# Base: centos:stream8

# Django
asgiref==3.5.0
backports.zoneinfo==0.2.1
Django==4.0.3
sqlparse==0.4.2

# pytest
attrs==21.4.0
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.1.0
pytest-django==4.5.2
tomli==2.0.1

# linters
## flake8
flake8==4.0.1
mccabe==0.6.1
pycodestyle==2.8.0
pyflakes==2.4.0

## black (formatter)
black==22.1.0
click==8.0.4
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
typing-extensions==4.1.1
